html, body{
background-color: antiquewhite;
margin: 0;
font-family: 'Ysabeau SC', sans-serif;
text-align: center;
min-height: 100vh;
}

h1{
    font-size: 3em;
    font-weight: bold;
}

.inst{ padding: 0;
}

.gameplan{
    box-sizing: border-box;
    font-size: 1.5em;
}

.container{
    margin: 0 auto;
    padding: 1em;
    width: max-content;
    display: grid;
    grid-template-columns:repeat(4, 175px) ;
    gap: 16px;
}

.card {
    height: 175px;
    cursor: pointer;
    border: 5px solid #4444 ;
    background-color: black;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  }

img{
    transform: translateX(-100%) rotateY(-180deg);
    max-width: 100%;
    height: auto;
  }

.resetbtn{
    display: flex;
    justify-content: center;
}

 button{
    font-family: 'Ysabeau SC', sans-serif;
    background-color:firebrick;
    color: antiquewhite; 
    border: none;
    justify-content: center;
    align-items: flex-end;
    height: 40px;
    width: 100px;
    padding: 0%;
} 

@media (max-width: 600px){
.wrapper{text-align: center;}
} 